<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}</title>
<meta content="" name="description">

<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/default.min.css">
<link rel="stylesheet" href={{"/assets/css/style.css"}} type='text/css'>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
<script type="text/javascript" src="https://vk.com/js/api/openapi.js"></script>
<script type="text/javascript" src={{"/assets/js/analitics.js"}}></script>
<script type="text/javascript" src={{"/assets/js/metrica.js"}}></script>
<script type="text/javascript" src={{"/assets/js/script.js"}}></script>
